@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-surface text-slate-100 antialiased;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-surface;
}
::-webkit-scrollbar-thumb {
  @apply bg-surface-border rounded-full;
}
